.widget-announce-time {
  font-size: 5em;
  height: 92vh;
  display: flex;
  flex-direction: column;
  padding: 1em;

  h6 {
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    font-size: 1em;
  }
  .time-range {
    font-size: 1.4em;
    label {
      font-size: 0.8em;
      padding: 0 0.4em;
    }
    .time-steps {
      padding: 0.3em 0;
    }
  }
}