body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  line-height: 1;
}

.content {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
  line-height: 1;
}

.run-app-panel {
  background-color: #000000;
  position: absolute;
  top: 0em;
  left: 0em;
  right: 0em;
  bottom: 0em;
  z-index: 1;
  .run-clock {
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24em;
  }
}

.footer-panel {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(203, 203, 203, 0.3);
  font-size: 1.3em;
  padding: 1em 2em;
}
.number-text {
  &, & .ui-widget, & .ui-dropdown-label {
    font-family: DS-Number, Verdana, Geneva, Tahoma, sans-serif;
  }
}

.dropdown-time {
  &, & .ui-widget, & .ui-dropdown-label {
    font-size: 2em;
  }
}


.date {
  font-size: 5em;
  padding-left: 0.5em;
}


.alarm-time {
  font-size: 8em;
  display: inline-block;
}

.alarm-select {
  font-size: 8em;
  background: none;
  border: none;
  background-color: #000000;
  color: #FFFFFF;
  outline: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
  height: 1em;
  text-transform: none;
}

.alarm-edit {
  display: inline-block;
}
