<div class="run-app-panel" *ngIf="!isRun">
  <button class="action-button run-clock" (click)="onClick(mainContent)">
    <i class="fa fa-play"></i>
  </button>
</div>

<main class="content" #mainContent [ngClass]="{'widget-activated': appState.activeWidget}">
  <div class="sidebar-clock">
    <div class="clock">
      <div class="clock-container">
        <panel-clock></panel-clock>
      </div>
    </div>
  </div>
  <div class="sidebar-tools">
    <div class="tools">
      <div class="tool tool-response">
        <panel-alarm></panel-alarm>
      </div>
      <div class="tool tool-fixed">
        <panel-asistent></panel-asistent>
      </div>
      <div class="tool tool-fixed">
        <panel-radio></panel-radio>
      </div>
      <div class="tool tool-fixed">
        <panel-announce-time></panel-announce-time>
      </div>
    </div>
  </div>
  <div class="sidebar-widget" *ngIf="appState.activeWidget">
    <div class="widgets">
      
    </div>
  </div>
</main>
<!--
<panel-status></panel-status>
-->
